<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chatting">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chatting">
        <activity
            android:name=".checkProfileMatch1"
            android:exported="false" />
        <activity
            android:name=".checkProfileMatch"
            android:exported="false" />
        <activity
            android:name=".checkProfile"
            android:exported="false" />
        <activity
            android:name=".RequestAccepted"
            android:exported="false" />
        <activity
            android:name=".RequestSent"
            android:exported="false" />
        <activity
            android:name=".FriendActivity1"
            android:exported="false" />
        <activity
            android:name=".MyChatActivity"
            android:exported="false" />
        <activity
            android:name=".RequestActivity"
            android:exported="false" />
        <activity
            android:name=".ListActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity2"
            android:exported="false" />
        <activity
            android:name=".HomeActivity3"
            android:exported="false" />
        <activity
            android:name=".HomeActivity1"
            android:exported="false" />
        <activity
            android:name=".InterestActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>